crcmod==1.7
dataclasses-struct==0.8.4
future==1.0.0
hidapi==0.14.0.post4
intelhex==2.3.0
numpy==2.2.6
pillow==11.2.1
pyserial==3.5
pyusb==1.3.1
PyYAML==6.0.2
rode-core==5.0.0
rode-devices @ git+ssh://git@github.com/freedmanelectronics/rode-devices-package.git@ea292d0873900c523b283bded6096c1c55b4ceec
./soundcheck_tcpip-3.0.1-py3-none-any.whl
typing_extensions==4.14.0
